<div class="container">
    <h1>Admin: SNU_Escape 예약관리</h1>
<table class="table table-hover">
  <tr>
    <th>시간</th>
    <th>4/17(월)</th>
    <th>4/18(화)</th>
    <th>4/19(수)</th>
    <th>4/20(목)</th>
  </tr>
  <tr class="time11">
    <td class="tg-yw4l">11시~12시</td>
    <td class="date17"><a href="/hurrayyy/17/11"><%= showdata(17, 11) %></a></td>
    <td class="date18"><a href="/hurrayyy/18/11"><%= showdata(18, 11) %></a></td>
    <td class="date19"><a href="/hurrayyy/19/11"><%= showdata(19, 11) %></a></td>
    <td class="date20"><a href="/hurrayyy/20/11"><%= showdata(20, 11) %></a></td>
  </tr>
  <tr class="time12">
    <td class="tg-yw4l">12시~1시</td>
    <td class="date17"><a href="/hurrayyy/17/12"><%= showdata(17, 12) %></a></td>
    <td class="date18"><a href="/hurrayyy/18/12"><%= showdata(18, 12) %></a></td>
    <td class="date19"><a href="/hurrayyy/19/12"><%= showdata(19, 12) %></a></td>
    <td class="date20"><a href="/hurrayyy/20/12"><%= showdata(20, 12) %></a></td>
  </tr>
  <tr class="time13">
    <td class="tg-yw4l">1시~2시</td>
    <td class="date17"><a href="/hurrayyy/17/13"><%= showdata(17, 13) %></a></td>
    <td class="date18"><a href="/hurrayyy/18/13"><%= showdata(18, 13) %></a></td>
    <td class="date19"><a href="/hurrayyy/19/13"><%= showdata(19, 13) %></a></td>
    <td class="date20"><a href="/hurrayyy/20/13"><%= showdata(20, 13) %></a></td>
  </tr>
  <tr class="time14">
    <td class="tg-yw4l">2시~3시</td>
    <td class="date17"><a href="/hurrayyy/17/14"><%= showdata(17, 14) %></a></td>
    <td class="date18"><a href="/hurrayyy/18/14"><%= showdata(18, 14) %></a></td>
    <td class="date19"><a href="/hurrayyy/19/14"><%= showdata(19, 14) %></a></td>
    <td class="date20"><a href="/hurrayyy/20/14"><%= showdata(20, 14) %></a></td>
  </tr>
  <tr class="time15">
    <td class="tg-yw4l">3시~4시</td>
    <td class="date17"><a href="/hurrayyy/17/15"><%= showdata(17, 15) %></a></td>
    <td class="date18"><a href="/hurrayyy/18/15"><%= showdata(18, 15) %></a></td>
    <td class="date19"><a href="/hurrayyy/19/15"><%= showdata(19, 15) %></a></td>
    <td class="date20"><a href="/hurrayyy/20/15"><%= showdata(20, 15) %></a></td>
  </tr>
  <tr class="time16">
    <td class="tg-yw4l">4시~5시</td>
    <td class="date17"><a href="/hurrayyy/17/16"><%= showdata(17, 16) %></a></td>
    <td class="date18"><a href="/hurrayyy/18/16"><%= showdata(18, 16) %></a></td>
    <td class="date19"><a href="/hurrayyy/19/16"><%= showdata(19, 16) %></a></td>
    <td class="date20"><a href="/hurrayyy/20/16"><%= showdata(20, 16) %></a></td>
  </tr>
  <tr class="time17">
    <td class="tg-yw4l">5시~6시</td>
    <td class="date17"><a href="/hurrayyy/17/17"><%= showdata(17, 17) %></a></td>
    <td class="date18"><a href="/hurrayyy/18/17"><%= showdata(18, 17) %></a></td>
    <td class="date19"><a href="/hurrayyy/19/17"><%= showdata(19, 17) %></a></td>
    <td class="date20"><a href="/hurrayyy/20/17"><%= showdata(20, 17) %></a></td>
  </tr>
  
</table>
</div>